!!!
%html
  %head
    %title= Settings.app_name
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    - if Rails.env == 'development'
      = javascript_include_tag "xray"
    = csrf_meta_tags
  %body{class: "#{signed_in? ? 'yes' : 'no'}"}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-50804499-1', 'morikomemo.herokuapp.com');
      ga('send', 'pageview');

    - if signed_in?
      = render 'signed_in_header'
    - else
      = render 'not_signed_in_header'
    - if flash[:notice].present?
      .notice
        = simple_format( flash[:notice])
    - if flash[:alert].present?
      .alert
        = simple_format( flash[:alert]) 
    .body
      = yield
    %footer.footer#footer
      .wrapper
        %ul.footer-links
          %li.footer-links__link= link_to( "Special Thanks", "/about/", class: "gray-link")
          %li.footer-links__link= link_to( "blog", "http://moritamoriko.org", target: "_blank", class: "gray-link")
        %small.footer-copyright
          Copyright©
          = link_to( "@#{Settings.designer_twitter_id}", "https://twitter.com/#{Settings.designer_twitter_id}/", target: "_blank", class: "white-link")
          2014 All Rights Reserved.
   
