!!!
%html
  %head
    %title= Settings.app_name
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    - if Rails.env == 'development'
      = javascript_include_tag "xray"
    = csrf_meta_tags
  %body{class: "#{signed_in? ? 'yes' : 'no'}"}
    - if signed_in?
      = render 'signed_in_header'
    - else
      = render 'not_signed_in_header'
    = simple_format( flash[:notice], style: "color: green;" ) if flash[:notice].present?
    = simple_format( flash[:alert], style: "color: red;" ) if flash[:alert].present?
    .body
      = yield
    %footer.footer
      .wrapper
        %ul.footer-links
          %li.footer-links__link= link_to( "Special Thanks", "http://yahoo.co.jp", class: "gray-link")
          %li.footer-links__link= link_to( "blog", "http://moritamoriko.org", target: "_blank", class: "gray-link")
        %small.footer-copyright
          Copyright©
          = link_to( "@#{Settings.designer_twitter_id}", "https://twitter.com/#{Settings.designer_twitter_id}/", target: "_blank", class: "white-link")
          2014 All Rights Reserved.
   
