!!!
%html
  %head
    %title= Settings.app_name
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    - if Rails.env == 'development'
      = javascript_include_tag "xray"
    = csrf_meta_tags
  %body{class: "#{signed_in? ? 'yes' : 'no'}"}
    - if signed_in?
      %header.header__signed_in
        .wrapper
          = link_to image_tag( 'header_logo.png', name: "morikomemo", class: ""), :root
          = render partial: '/layouts/user_icon', locals: { user: current_user, size: "18x18", klass: "margin_minus2" }
          %i.fa.fa-th-list.button-list__icon
          %ul.header__menu
            %li.header__menu--links= link_to("new" , new_memo_path) 
            %li.header__menu--links= link_to( "list", root_path )
            %li.header__menu--links= link_to( "Logout", logout_path )
    = simple_format( flash[:notice], style: "color: green;" ) if flash[:notice].present?
    = simple_format( flash[:alert], style: "color: red;" ) if flash[:alert].present?
    .body
      = yield
    %footer.footer
      .wrapper
        %ul.footer-links
          %li.footer-links__link= link_to( "Special Thanks", "http://yahoo.co.jp", class: "gray-link")
          %li.footer-links__link= link_to( "blog", "http://moritamoriko.org", target: "_blank", class: "gray-link")
        %small.footer-copyright
          Copyright©
          = link_to( "@#{Settings.designer_twitter_id}", "https://twitter.com/#{Settings.designer_twitter_id}/", target: "_blank", class: "white-link")
          2014 All Rights Reserved.
   
