!!!
%html
  %head
    %title= Settings.app_name
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    - if Rails.env == 'development'
      = javascript_include_tag "xray"
    = csrf_meta_tags
  %body{class: "#{signed_in? ? 'yes' : 'no'}"}
    - if signed_in?
      %header.header__signed_in
        = link_to Settings.app_name, :root, class: "header__logo"
        = render partial: '/layouts/user_icon', locals: { user: current_user, size: "18x18", klass: "margin_minus2" }
        = link_to( "Top", root_path )
        = link_to( "Logout", logout_path )
    = simple_format( flash[:notice], style: "color: green;" ) if flash[:notice].present?
    = simple_format( flash[:alert], style: "color: red;" ) if flash[:alert].present?
    .body
      = yield
    %footer.footer
      %p
        = link_to( "Special Thanks" , "http://yahoo.co.jp" )
        ｜
        = link_to( "blog" , "http://yahoo.co.jp" , :target => "_blank" )
      %p
        Copyright©
        = link_to( "@#{Settings.designer_twitter_id}" , "https://twitter.com/#{Settings.designer_twitter_id}/" , :target => "_blank")
        2014 All Rights Reserved.
   
